<body>
    <div class="container">
        <%= user.name %> <%= user.lastName %> <%= user.businessName %> has just created an account.   Schedule their Onboarding Call.  It should happen within 48 hours of them signing up!!
    </div>
</body>