<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            SLAPster Business Name is getting close to the end of this SLAPyear.  Work together to figure out how to finish this yer strong AND what the right SLAProgram / SLAPexpert is for next year to build upon this year's success.
        </div>
    </div>
</body>