<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            Reach out to SLAPster and check if they would like a SLAPbuddy.  If so, set it up.
        </div>
    </div>
</body>