<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
            <div class="content">
                 SLAPster <%= user.businessName %>  has just had their credit card decline. Connect with them ASAP and either get them to put a new card
                on file (in Account Settings in SLAPcenter) and monitor it as Stripe tries to re-charge over the coming days. Close this
                ticket once payment has been made.
            </div>
            <hr/>
            <%- include('../layout-main/footer') -%>
    </div>
</body>