<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            SLAPster Business Name has started Q4.  We need to start conversations about how to finish strong and plan towards next year.   Schedule their Q4 Hustle Call ASAP.  It should happen within a week of today!!!
        </div>
    </div>
</body>