<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            <h1>Hello SLAPster!</h1><br/><br/>
            Welcome to our SLAPworld!<br/><br/>
            We are so excited to be on this journey with you and we look forward to helping you build an increasingly profitable and sustainable business.<br/><br/>
            As you probably know right now - we are all about ACTION and RESULTS.   Behaviour Change Science says that one of the pillars of achieving the results you want is to be totally committed to those results.  So - congratulations!   Signing up for SLAP and choosing to accept our training, resources, accountability and support to help you hit your goals means that you are literally on your path to hitting any goals you set!  (literally!)<br/><br/>
            The next important step for you to take on your SLAPjourney is to have your onboarding call with one of our amazing SLAPmanagers.   Ideally this call will happen within no more than 48 hours.    If it is already scheduled - GREAT!<br/><br/>
            If you have yet to schedule it, please respond to the messages you have more than likely already received from our team - or email them or call them direct to get it set up.     And while you are at it - put this email address and phone number into your phone book as you can email or call literally ANY time with literally ANY question and our SLAPmanager team will instantly take care of you.<br/><br/>
            email: support@smallbizsilverlining.com<br/>
            call: 844 393 SLAP<br/>
            <p>Again, thank you for allowing us to be a small part of your growth journey.  We so look forward to supporting you and seeing your success!</p><br/>
            Carissa Reiniger<br/>
            Founder & CEO<br/>
        </div>
        <hr/>
        <%- include('../layout-main/footer') -%>
        
    </div>
</body>